// Monochrome
@mono-1: #b6bac3;
@mono-2: #838996;
@mono-3: #5D636F;

// Colors
@cyan:   #52becb;
@blue:   #6f95ec;
@purple:   #a66fde;
@green:   #5aba8c;
@red:   #e05b5b;
@red-light: #b45172;
@orange:   #e69d67;
@orange-light: #e2d27e;

// Base colors
@syntax-fg:     @mono-1;
@syntax-bg:     #2d2d30;
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: #5D8DF7;
