// Monochrome
@mono-1: #d6dee3;
@mono-2: #c0cdd5;
@mono-3: #3d576a;

// Colors
@red:   #db9298;
@red-light: #ed7979;
@orange-light: #ebda9b;
@green:   #bdd5a1;
@cyan:   #79dbc9;
@blue:   #BBDAFF;
@purple:   #EBBBFF;
@orange:   #E3B385;

// Base colors
@syntax-fg:     @mono-1;
@syntax-bg:     #1d2f3b;
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: #68a6f1;
